
.bgimage {
    height:80vh;
    background: url('./portfolioimg.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4rem;
}
.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #042b2f;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
    border-radius: 10%;
}
.sect1 { 
    background: rgb(56,90,93);
    background: linear-gradient(180deg, rgba(56,90,93,1) 30%, rgba(4,43,47,1) 60%);
    margin-top: 0%;
    padding-top: 0%;
}
p {
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
p:hover {
    color: #8c9230;
}
.sect2{
    background: rgb(56,90,93);
    background: linear-gradient(180deg, rgba(56,90,93,1) 30%, rgba(4,43,47,1) 60%);
    padding-bottom: 30px;
}

/* services section css */

.card:hover {
    color: #8c9230;
    cursor: pointer;
}

.sect3 {
    background: rgb(56,90,93);
    background: linear-gradient(180deg, rgba(56,90,93,1) 30%, rgba(4,43,47,1) 60%);
    padding-bottom: 30px;
}

.sect4 {
    background: rgb(56,90,93);
    background: linear-gradient(180deg, rgba(56,90,93,1) 30%, rgba(4,43,47,1) 60%);
}

.h1contact {
    color: #8c9230;
}

/* footer styling */
#footer {
    background-color: #385a5d;
    text-align: center;
}